
MONGODB_USER=yourUsername
MONGODB_PASSWORD=yourPassword
MONGODB_URL=yourCluster.mongodb.net
MONGODB_DB=yourDatabase
PORT=3000

ACCESS_TOKEN_SECRET=your_access_token_secret;
REFRESH_TOKEN_SECRET=your_refresh_token_secret;
