
MONGODB_USER=yourUsername
MONGODB_PASSWORD=yourPassword
MONGODB_URL=yourCluster.mongodb.net
MONGODB_DB=yourDatabase
PORT=3000

#//mongodb+srv://stanislav1:4vUisXyn67HDu8Tc@cluster0.llefcfw.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0